  @import url(https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap);
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
      display: block;
  }

  body {
      line-height: 1;
  }

  ol,
  ul {
      list-style: none;
  }

  ::-webkit-scrollbar {
      display: none !important;
  }

  .small-title {
      font-size: 18px;
      line-height: 1;
  }

  .sub-title {
      font-size: 21px;
      line-height: 1;
  }

  @media only screen and (max-width: 812px) {
      .sub-title {
          font-size: 18px;
      }
  }

  .title {
      font-size: 71px;
      line-height: 1;
  }

  @media only screen and (max-width: 812px) {
      .title {
          font-size: 35px;
      }
  }

  .paragraph {
      font-size: 10.65px;
      font-weight: 500;
      line-height: 1.5;
  }

  @media only screen and (max-width: 812px) {
      .paragraph {
          font-size: 14px;
      }
  }

  /* ----------------------------------------- */
  .textify-title .word,
  .textify-title .char {
      display: inline-block;
  }

  /* ----------------------------------------- */
  .textify-title .char {
      position: relative;
  }

  /* ------------------------------------------- */
  .textify-title .word {
      overflow: hidden;
  }

  html,
  body {
      width: 100%;
      min-height: 100%;
      height: auto;
  }

  html {
      scroll-behavior: initial;
      box-sizing: border-box;
      font-size: calc(100vw / 1920 * 10);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
  }

  @media only screen and (max-width: 812px) {
      html {
          font-size: calc(100vw / 375 * 10) !important;
      }
  }

  body {
      overscroll-behavior: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      transition: opacity 1s ease;
      background: #f4f4f4;
  }

  body.loaded {
      opacity: 1;
  }

  h1,
  h2,
  h3 {
      font-family: "Gloock", sans-serif;
      font-weight: 600;
  }

  *,
  *:before,
  *:after {
      box-sizing: inherit;
      user-select: none;
      outline: none;
      -webkit-touch-callout: none;
  }

  :focus {
      outline: none;
  }

  ::-moz-focus-inner {
      border: 0;
  }

  a {
      color: inherit;
      outline: none;
      text-decoration: none;
  }

  button {
      background: none;
      border: none;
      color: inherit;
      font: inherit;
      outline: none;
      cursor: pointer;
  }

  img {
      max-width: 100%;
      vertical-align: middle;
      object-fit: cover;
  }

  input,
  textarea {
      appearance: none;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
  }

  /* Links */
  link.active,
        .link {
            display: inline-block;
            overflow: hidden;
            position: relative;
            vertical-align: top
        }

        .link.active:after,
        .link:after {
            background: currentColor;
            bottom: 0;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
            width: 100%
        }

        .link.active:after,
        .link:hover:after {
            transform: scaleX(1);
            transform-origin: left center
        }

        .link.active:hover:after,
        .link:after {
            transform: scaleX(0);
            transform-origin: right center
        }

        .link.active {
            display: inline-block
        }

        .link {
            display: inline-block
        }

        .link {
            font-size: 14px;
            font-weight: 400
        }

        @media only screen and (max-width: 812px) {
            .link {
                font-size: 14px;
            }
        }

  /* Links ends */

  .card button,
  nav .container .navigation-social-links,
  nav .container .navigation-links,
  .holiday .container .holiday-list,
  .services .container .service-list,
  .tour .container .small-tour-list,
  .tour .container .tour-list,
  .blog .container .blog-list,
  .follow .container .pictures,
  .news, .links
  {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  .banner .banner-content,
  .holiday .container,
  .services .container,
  .tour .container,
  .tour .container .small-tour-list .small-tour-box,
  .testimonial .test-slider .test-slide,
  .blog .container,
  .follow .container
  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  nav .container .navigation-social-links a,
  .banner .banner-content button,
  .testimonial .test-slider {
      display: grid;
      place-items: center;
  }

  .container {
      max-width: 90%;
      width: 100%;
      height: auto;
      margin: 0 auto;
  }

  .section {
      width: 100%;
      min-height: max-content;
      height: auto;
      position: relative;
      background: #F5F5F3;
  }

  .line {
      width: 100%;
      height: 1px;
      background: #000;
  }

  .btn-color {
      font-size: 14px;
      font-weight: 500;
      padding: 14px 28px;
      background: #f7b500;
  }

  .btn-color:hover {
      background: #CA5543;
      color: #fff;
  }

  @media only screen and (max-width: 812px) {
      .btn-color {
          font-size: 13px;
          padding: 7px 14px;
      }
  }

  .card {
      flex: 0 0 32%;
      max-width: 32%;
      width: 100%;
      height: auto;
      background: #fff;
      padding: 14px;
      border-radius: 7px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 999;
  }

  @media only screen and (max-width: 812px) {
      .card {
          flex: 0 0 100%;
          max-width: 100%;
      }
  }

  .card:hover {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .card:hover figure img {
      transform: scale(1.1);
  }

  .card figure {
      width: 100%;
      height: auto;
      overflow: hidden;
  }

  .card figure img {
    width: 413px;
    height: 300px;
    transition: all 0.5s ease;
  }

  .card h1 {
      margin: 2rem 0;
  }

  .card p span img {
      width: 2rem;
  }

  .card .line {
      margin: 1rem 0;
  }

  .card button {
      width: 100%;
      height: auto;
      padding: 1rem 0;
  }

  .card button img {
    width: 2rem;
    transform: rotate(-90deg);
    transition: all 0.5s ease;
  }

  .card button img:hover {
    transform: rotate(270deg) scale(1.1);
  }

  .card span{
    font-size: 14.2px;
    color: #57C3B3;
    font-weight: 600;
  }

  nav {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      padding: 14.2px 0;
      pointer-events: auto;
      background: none;
      color: #fff;
  }

  nav .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  @media only screen and (max-width: 812px) {
      nav .container{
        justify-content: space-between;
        align-items: center;
      }
  }

  nav .container a.logo {
      font-family: "Gloock", sans-serif;
  }

  nav .container .navigation-links {
      gap: 4rem;
      align-items: flex-start;
  }

  nav .container .navigation-links .btn-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

    nav .container .navigation-links .btn-box .drop-down{
        display: none;
    }

    nav .navigation-links .btn-box *::after{
        display: none !important;
    }


    nav .container .navigation-links .btn-box:hover .drop-down{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        background: #ffffff;
        color: #000;
        padding: 2rem 1rem;
        border-radius: 1rem;
        opacity: 1;
    }

    nav .container .navigation-links .btn-box .drop-down a{
        font-size: 1.6rem;
    }

    nav .container .navigation-links .btn-box .drop-down a:hover{
        color: #57C3B3;
    }

  @media only screen and (max-width: 812px) {

      nav .container .navigation-social-links,
      nav .container .navigation-links {
          display: none;
      }
  }

  nav .container .navigation-social-links a {
      width: 35.5px;
      height: 35.5px;
      border-radius: 50%;
  }

  nav .container .navigation-social-links a img {
      width: 21.3px;
      height: auto;
  }

  nav .container .navigation-social-links a img:hover{
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
  }

  .banner .slider {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100vh;
      background: #000;
      opacity: 0.8;
  }

  .banner .slider .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
  }

  .banner .slider .slide figure {
      width: 100%;
      height: 100%;
  }

  .banner .slider .slide figure img {
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
  }

  .banner .banner-content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      pointer-events: none;
      gap: 35.5px;
      text-align: center;
  }

  .banner .banner-content button {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: #f7b500;
      pointer-events: all;
  }

  .banner .banner-content h1{
    color: #ffffff;
  }

  @media only screen and (max-width: 812px) {
      .banner .banner-content button {
            width: 42px;
            height: 42px;
      }

      .banner .banner-content button img {
          width: 15px !important;
          height: auto;
      }
  }

  .banner .banner-content button img {
      width: 1.5rem;
      height: auto;
  }

  .holiday .container {
      padding: 71px 0;
      gap: 21.3px;
  }

  .holiday .container .big-icon-wrapper {
      width: 142px;
      height: auto;
  }

  @media only screen and (max-width: 812px) {
      .holiday .container .big-icon-wrapper {
          width: 71px;
      }
  }

  .holiday .container .big-icon-wrapper img {
      width: 100%;
      height: auto;
  }

  .holiday .container .big-para {
      text-align: center;
      width: 70%;
  }

  @media only screen and (max-width: 812px) {
      .holiday .container .big-para {
          width: 100%;
      }
  }

  .holiday .container .section-title {
      margin-top: 2rem;
  }

  .holiday .container .holiday-list {
      width: 100%;
      height: auto;
      margin-top: 2rem;
  }

  @media only screen and (max-width: 812px) {
      .holiday .container .holiday-list {
          gap: 2rem;
      }
  }

  .services {

    background: #fff;
  }

  .services .container {
      padding: 71px 0;
      gap: 21.3px;
      text-align: center;
  }

  @media only screen and (max-width: 812px) {
      .services .container {
          padding: 71px 0;
          gap: 0;
      }
  }



  .services .container .service-list {
      width: 100%;
      height: auto;
      margin: 5rem 0;
      row-gap: 5rem;
  }

  @media only screen and (max-width: 812px) {
      .services .container .service-list {
          margin: 2.5rem 0;
          row-gap: 3rem;
      }
  }

  .services .container .services-bg-img{
    position: absolute;
    opacity: 0.3;
  }

  @media only screen and (max-width: 812px) {
      .services .container .services-bg-img{
        display: none;
      }
  }

  .services .container .service-list{
    position: relative;
  }

  .services .container .service-list .service-box {
      flex: 0 0 22%;
      max-width: 22%;
      width: 100%;
      height: auto;
      transition: all .5s ease;
  }

  .services .container .service-list .service-box:hover figure{
    border-radius: 50px;
  }

  .services .container .service-list .service-box:hover img{
        transform: scale(1.2);
  }


  @media only screen and (max-width: 812px) {
      .services .container .service-list .service-box {
          flex: 0 0 100%;
          max-width: 100%;
      }
  }

  .services .container .service-list .service-box figure {
      width: 100%;
      height: auto;
      overflow: hidden;
      transition: all .5s ease;
      cursor: pointer;
  }

  .services .container .service-list .service-box figure img {
      width: 100%;
      height: 191px;
      transition: all .5s ease;
  }

  .services .container .service-list .service-box h1 {
      margin-top: 2rem;
  }

  .tour{
    position: relative;
    overflow: hidden;
  }

  .tour .cycle-bg{
    position: absolute;
    top: 30rem;
    right: -33rem;
  }

  .tour .cycle-bg img{
    width: 350px;
    height: 350px;
    opacity: 0.2;
  }

  .tour .cycle-bg-2 {
    position: absolute;
    bottom: -17rem;
    left: -19rem;
  }

    .tour .cycle-bg-2 img{
        width: 350px;
        height: 350px;
        opacity: 0.2;
    }

    @media only screen and (max-width: 812px) {
        .tour .cycle-bg{
            display: none;
        }
        .tour .cycle-bg-2 {
            display: none;
        }
    }

  .tour .container {
      text-align: center;
      padding: 71px 0;
  }

    @media only screen and (max-width: 812px) {
        .tour .container {
            padding: 14.2px 0 40px 0;
        }
    }


    .tour .container .small-tour-blob{
        width: 25%;
        /* position: relative; */
    }

    .tour .container .small-tour-blob .small-tour-blob-img{
        background-image: url(./assets/blob.png);
        background-size: 130px 130px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 150px;
        width: auto;
    }

    .tour .container .small-tour-blob .small-tour-blob-img img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -55%);
        width: 70px;
        height: 55px;
    }

    .tour .container .small-tour-blob .small-tour-blob-content h1 {
        margin-top: 3rem;
    }

  .tour .container .small-tour-list {
    padding-bottom: 71px;
    width: 100%;
  }

  @media only screen and (max-width: 812px) {
      .tour .container .small-tour-list {
          flex-direction: column;
          row-gap: 3rem;
      }
  }

  .tour .container .small-tour-list .small-tour-blob {
      flex: 0 0 25%;
      width: 100%;
  }

  @media only screen and (max-width: 812px) {
      .tour .container .small-tour-list .small-tour-blob {
          flex: 0 0 100%;
          max-width: 100%;
      }
  }

  .tour .container .tour-list {
      width: 100%;
      height: auto;
      row-gap: 21px;
      margin: 35.5px;
      text-align: left;
  }

  .testimonial {
      width: 100%;
      height: auto;
      padding: 40px 0;
      overflow: hidden;
      background: white;
  }

  .testimonial>h1 {
      text-align: center;
  }

  .testimonial .test-slider {
      position: relative;
      width: 100vw;
      height: 30rem;
  }

  .testimonial .test-slider .test-slide {
        position: absolute;
      width: 50vw;
      height: 210px;
      padding: 35.5px;
      background: rgba(247, 181, 0, 0.2);
      align-items: flex-start;
      gap: 14.2px;
      border-radius: 7px;
  }


  @media only screen and (max-width: 812px) {
      .testimonial .test-slider .test-slide {
          width: 90%;
      }
  }

  .blog {
      width: 100%;
      height: auto;
      background: white !important;
  }

  .blog .container {
    padding: 71px 0 0 0;
    gap: 21.3px;
  }

    @media only screen and (max-width: 812px) {
        .blog .container {
            padding: 14.2px 0;
        }
    }


  @media only screen and (max-width: 812px) {
      .blog .container .blog-list {
          gap: 21px;
          margin-top: 0;
      }
  }

  .blog .container .blog-list .card button {
    box-shadow: inset 0 0 0 0 #07283B;
    color: #fff;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    width: max-content;
  }

  .blog .container .blog-list .card button:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #07283B;
  }

  .follow{
    background: white;
  }

  .follow .container {
    padding: 71px 0;
    gap: 21.3px;
  }

  .follow .container .follow-content {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

    .follow .container .follow-content img {
        width: 3rem;
    }
    @media only screen and (max-width: 812px) {
        .follow .container {
            padding: 5rem 0 5rem 0;
        }
    }

  .follow .container h1{
        font-weight: 600;
  }

  .follow .container > img{
    display: inline;
}

  .follow .container .pictures  {
      width: 100%;
      height: auto;
      margin-top: 5rem;
  }

  .follow .container .pictures img:hover{
        border-radius: 50px;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
  }

  @media only screen and (max-width: 812px) {
      .follow .container .pictures {
          gap: 3rem;
          margin: 0;
      }
  }

  .follow .container .pictures img {
      flex: 0 0 18%;
      max-width: 18%;
      width: 100%;
      height: 30rem;
  }

  @media only screen and (max-width: 812px) {
      .follow .container .pictures img {
          flex: 0 0 100%;
          max-width: 100%;
          height: 32rem;
      }
  }

   .footer-image{
    background-image: url(./assets/mountain.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
   }

    .footer-image .footer-img-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10rem;
        text-align: center;
    }

    .footer-image .footer-img-text h1{
        font-size: 25px;
        line-height: 2;
    }

    @media only screen and (max-width: 812px) {
        .footer-image{
            background-size: cover;
            height: 100vh;
        }
        .footer-image .footer-img-text{
            padding-top: 7rem;
        }
    }

   .container-footer{
    width: 100%;
    height: 100%;
   }

   .footer-image img{
    width: 100%;
    height: 50vw;
    z-index: 0;
   }

    @media only screen and (max-width: 812px) {
        .footer-image img{
            height: 100%;
            width: 100%;
        }
    }

    .footer {
        width: 100%;
        height: auto;
        background: #07283B;
        color: #fff;
        padding: 71px 0 10.5px 0;
    }

    .footer .container{
        max-width: 70%;
        display: flex;
        flex-direction: column;
        gap: 28.4px;
        padding-bottom: 35.5px;
    }
    @media only screen and (max-width: 812px) {
        .footer .container{
            gap: 14.2px;
        }
    }

    .footer .newsletter {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .footer .newsletter h1 {
        font-size: 21.3px;
    }

    .footer .container .line{
        width: 100%;
        height: 1px;
        background: #fff;
    }

    .footer .links{
        align-items: flex-start;
        width: 100%;
        height: auto;
    }
    @media only screen and (max-width: 812px) {
        .footer .links{
            padding-top: 40px;
            gap: 35.5px;
        }
        .footer .links .about-us {
            max-width: 100% !important;
        }
        .footer .links .quick-links, .explore-us, .contact-us, .about-us {
            flex: 0 0 100%;
            gap: 3rem;
        }
    }

    .footer .links .quick-links, .explore-us, .contact-us a {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 14.2px;
    }

    .footer .links .explore-us a{
        width: max-content;
    }

    .footer .links .quick-links a{
        width: max-content;
    }

    .footer .links .about-us{
        display: flex;
        flex-direction: column;
        gap: 14.2px;
        font-size: 14.2px;
        max-width: 30%;
    }

    .footer .links .about-us > div {
        display: flex;
        flex-direction: row;
        gap: 7px;
        /* max-width: 30%; */
    }

    .footer .links .about-us .navigation-social-links img{
        height: 30px;
        width: 30px;
    }

    .footer .links .about-us .navigation-social-links img:hover{
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        background: #07283B;
    }

    .footer .reserved p{
        font-size: 14.2px;
    }

    .footer .line{
        width: 100%;
        height: 1px;
        background: #fff;
    }

    .footer .news{
        width: 100%;
        height: auto;
        gap: 21.3px;
    }

    .footer .news .button{
        width: 50%;
    }

    .footer .news .button form{
        display: flex;
        flex-direction: row;
    }

    .footer .news .button form input{
        width: 100%;
        height: 6rem;
        border: none;
        /* border-radius: 1rem; */
        background: #fff;
        font-size: 2rem;
        padding: 0 2rem;
    }

    .footer .news .button form button{
        width: 50%;
        height: 6rem;
        border: none;
        background: #CA5543;
        font-size: 2rem;
        padding: 0 2rem;
        color: white;
        margin-top: 0 !important;
    }

    .footer .news .button form button:hover{
        background: black;
        color: #fff;
    }
    @media only screen and (max-width: 812px) {
        .footer .container{
            max-width: 90%;
        }
        .footer .news .button{
            width: 100%;
        }

        .footer .news .button form {
            flex-direction: column;
            gap: 1rem;
        }
        .footer .news .button form input{
            width: 100%;
            height: 5rem;
            border: none;
            background: #fff;
            font-size: 2rem;
            padding: 0 2rem;
        }
        .footer .news .button form button{
            width: 100%;
            height: 5rem;
            border: none;
            /* border-radius: 1rem; */
            background: #CA5543;
            font-size: 2rem;
            padding: 0 2rem;
            color: white;
        }
    }


    .footer .links .contact-us{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .footer .links .contact-us div{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .footer .links .contact-us div i{
        font-size: 2rem;
    }

    .banner .btn-color{
        position: absolute;
        right: -2rem;
        z-index: 2;
        transform: rotate(-90deg);
    }

    .banner .btn-color span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .banner .btn-color span:after{
        position: absolute;
        opacity: 0;
        top: 0;
        transition: 0.5s;
    }

    .banner button:hover span{
       transform: scale(1.2);
    }

    .banner button:hover span:after{
        opacity: 1;
        right: 0;
    }

    /* Hamb btn */

    nav .container .menu, .hamburger{
        display: none;
    }

    @media only screen and (max-width: 812px){
        nav .container .menu, .hamburger{
            display: block;
        }

        nav .container .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
        width: max-content;
      }

      nav .container .menuItem:hover {
        text-decoration: underline;
      }

      nav .container .hamburger {
        display: flex;
        flex-direction: column;
        z-index: 100;
        right: 1rem;
        cursor: pointer;
      }

        nav .container .hamburger .hamb-line {
            width: 2rem;
            height: 0.2rem;
            background: white;
            margin: 0.2rem;
            transition: all 0.2s;
        }

      nav .container .closeIcon {
        display: none;
      }

      nav .container .menu {
        position: fixed;
        transform: translateX(100%);
        transition: transform 1s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: #fff;
        list-style: none;
        padding-top: 4rem;
        opacity: 0.8;
      }

      nav .container .showMenu {
        transform: translateY(0);
      }
    }

    .mb{
        padding-bottom: 14.2px;
    }
